---
http_interactions:
- request:
    method: get
    uri: https://airlabs.co/api/v9/airports?api_key=e2d12414-7879-4eac-b4fc-3cce7fb5c855&iata_code=CDG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"493-kBYJ9nCdZzMNloKjYESP4/aDsGg"
    body:
      encoding: ASCII-8BIT
      string: '{"request":{"lang":"en","currency":"USD","time":1,"id":"6sb0gj1zajk","server":"e","host":"airlabs.co","pid":1819384,"key":{"id":27605,"api_key":"e2d12414-7879-4eac-b4fc-3cce7fb5c855","type":"free","expired":"2023-11-16T23:00:00.000Z","registered":"2023-10-18T06:11:26.000Z","limits_by_hour":2500,"limits_by_minute":250,"limits_by_month":1000,"limits_total":1000},"params":{"iata_code":"CDG","lang":"en"},"version":9,"method":"airports","client":{"ip":"151.249.153.108","geo":{"country_code":"BY","country":"Belarus","continent":"Europe","city":"Gomel","lat":52.4319,"lng":30.9731,"timezone":"Europe/Minsk"},"connection":{"type":"cable/dsl","isp_code":42036,"isp_name":"Gomelsky
        RTSC Garant JSC"},"device":{},"agent":{},"karma":{"is_blocked":false,"is_crawler":false,"is_bot":false,"is_friend":false,"is_regular":true}}},"response":[{"name":"Paris
        Charles de Gaulle Airport","iata_code":"CDG","icao_code":"LFPG","lat":49.01278,"lng":2.55,"country_code":"FR"}],"terms":"Unauthorized
        access is prohibited and punishable by law. \nReselling data ''As Is'' without
        AirLabs.Co permission is strictly prohibited. \nFull terms on https://airlabs.co/.
        \nContact us info@airlabs.co"}'
  recorded_at: Wed, 18 Oct 2023 08:12:56 GMT
recorded_with: VCR 6.2.0
